[submodule "node_modules/js-git"]
	url = git@github.com:creationix/js-git.git
	ref = refs/heads/master
	path = node_modules/js-git
[submodule "node_modules/git-sha1"]
	url = git@github.com:creationix/git-sha1.git
	ref = refs/heads/master
	path = node_modules/git-sha1
[submodule "node_modules/bodec"]
	url = git@github.com:creationix/bodec.git
	ref = refs/heads/master
	path = node_modules/bodec
[submodule "node_modules/jon-parse"]
	url = git@github.com:creationix/jon-parse.git
	ref = refs/heads/master
	path = node_modules/jon-parse
[submodule "node_modules/carallel"]
	url = git@github.com:creationix/carallel.git
	ref = refs/heads/master
	path = node_modules/carallel
[submodule "node_modules/pathjoin"]
	url = git@github.com:creationix/pathjoin.git
	ref = refs/heads/master
	path = node_modules/pathjoin
[submodule "node_modules/git-tree"]
	url = git@github.com:creationix/git-tree.git
	ref = refs/heads/master
	path = node_modules/git-tree
[submodule "node_modules/simple-mime"]
	url = git@github.com:creationix/simple-mime.git
	ref = refs/heads/master
	path = node_modules/simple-mime
[submodule "node_modules/push-to-pull"]
	url = git@github.com:creationix/push-to-pull.git
	ref = refs/heads/master
	path = node_modules/push-to-pull
